/* 1. Base Color
   ========================================================================== */
.ghien-primary {
  background-color: #182837 !important; }

.ghien-primary-text {
  color: #182837 !important; }

.ghien-red {
  background-color: #ee3346 !important; }

.ghien-red-text {
  color: #ee3346 !important; }

.ghien-blue {
  background-color: #0090ff !important; }

.ghien-blue-text {
  color: #0090ff !important; }

.ghien-grey {
  background-color: #f6f6f6 !important; }

.ghien-grey-text {
  color: #f6f6f6 !important; }

.ghien-facebook {
  background-color: #3b5998 !important; }

.ghien-facebook-text {
  color: #3b5998 !important; }

.ghien-green {
  background-color: #26a69a !important; }

.ghien-green-text {
  color: #26a69a !important; }

.shades.black {
  background-color: #000000 !important; }

.shades-text.text-black {
  color: #000000 !important; }

.shades.white {
  background-color: #FFFFFF !important; }

.shades-text.text-white {
  color: #FFFFFF !important; }

.shades.transparent {
  background-color: transparent !important; }

.shades-text.text-transparent {
  color: transparent !important; }

.black {
  background-color: #000000 !important; }

.black-text {
  color: #000000 !important; }

.white {
  background-color: #FFFFFF !important; }

.white-text {
  color: #FFFFFF !important; }

.transparent {
  background-color: transparent !important; }

.transparent-text {
  color: transparent !important; }

/* Resize Ghien
   ========================================================================== */
.ghien-height-5 {
  height: 5px; }

.ghien-height-10 {
  height: 10px; }

.ghien-height-15 {
  height: 15px; }

.ghien-height-20 {
  height: 20px; }

.ghien-height-25 {
  height: 25px; }

.ghien-height-30 {
  height: 30px; }

.ghien-height-35 {
  height: 35px; }

.ghien-height-40 {
  height: 40px; }

.ghien-height-45 {
  height: 45px; }

.ghien-height-50 {
  height: 50px; }

.ghien-height-55 {
  height: 55px; }

.ghien-height-60 {
  height: 60px; }

.ghien-height-65 {
  height: 65px; }

.ghien-height-70 {
  height: 70px; }

.ghien-height-75 {
  height: 75px; }

.ghien-height-80 {
  height: 80px; }

.ghien-height-85 {
  height: 85px; }

.ghien-height-90 {
  height: 90px; }

.ghien-height-95 {
  height: 95px; }

.ghien-height-100 {
  height: 100px; }

.ghien-width-5 {
  width: 5px; }

.ghien-width-10 {
  width: 10px; }

.ghien-width-15 {
  width: 15px; }

.ghien-width-20 {
  width: 20px; }

.ghien-width-25 {
  width: 25px; }

.ghien-width-30 {
  width: 30px; }

.ghien-width-35 {
  width: 35px; }

.ghien-width-40 {
  width: 40px; }

.ghien-width-45 {
  width: 45px; }

.ghien-width-50 {
  width: 50px; }

.ghien-width-55 {
  width: 55px; }

.ghien-width-60 {
  width: 60px; }

.ghien-width-65 {
  width: 65px; }

.ghien-width-70 {
  width: 70px; }

.ghien-width-75 {
  width: 75px; }

.ghien-width-80 {
  width: 80px; }

.ghien-width-85 {
  width: 85px; }

.ghien-width-90 {
  width: 90px; }

.ghien-width-95 {
  width: 95px; }

.ghien-width-100 {
  width: 100px; }

.ghien-max-height-5 {
  max-height: 5px; }

.ghien-max-height-10 {
  max-height: 10px; }

.ghien-max-height-15 {
  max-height: 15px; }

.ghien-max-height-20 {
  max-height: 20px; }

.ghien-max-height-25 {
  max-height: 25px; }

.ghien-max-height-30 {
  max-height: 30px; }

.ghien-max-height-35 {
  max-height: 35px; }

.ghien-max-height-40 {
  max-height: 40px; }

.ghien-max-height-45 {
  max-height: 45px; }

.ghien-max-height-50 {
  max-height: 50px; }

.ghien-max-height-55 {
  max-height: 55px; }

.ghien-max-height-60 {
  max-height: 60px; }

.ghien-max-height-65 {
  max-height: 65px; }

.ghien-max-height-70 {
  max-height: 70px; }

.ghien-max-height-75 {
  max-height: 75px; }

.ghien-max-height-80 {
  max-height: 80px; }

.ghien-max-height-85 {
  max-height: 85px; }

.ghien-max-height-90 {
  max-height: 90px; }

.ghien-max-height-95 {
  max-height: 95px; }

.ghien-max-height-100 {
  max-height: 100px; }

.ghien-max-width-5 {
  max-width: 5px; }

.ghien-max-width-10 {
  max-width: 10px; }

.ghien-max-width-15 {
  max-width: 15px; }

.ghien-max-width-20 {
  max-width: 20px; }

.ghien-max-width-25 {
  max-width: 25px; }

.ghien-max-width-30 {
  max-width: 30px; }

.ghien-max-width-35 {
  max-width: 35px; }

.ghien-max-width-40 {
  max-width: 40px; }

.ghien-max-width-45 {
  max-width: 45px; }

.ghien-max-width-50 {
  max-width: 50px; }

.ghien-max-width-55 {
  max-width: 55px; }

.ghien-max-width-60 {
  max-width: 60px; }

.ghien-max-width-65 {
  max-width: 65px; }

.ghien-max-width-70 {
  max-width: 70px; }

.ghien-max-width-75 {
  max-width: 75px; }

.ghien-max-width-80 {
  max-width: 80px; }

.ghien-max-width-85 {
  max-width: 85px; }

.ghien-max-width-90 {
  max-width: 90px; }

.ghien-max-width-95 {
  max-width: 95px; }

.ghien-max-width-100 {
  max-width: 100px; }

/* 1. Colors
   ========================================================================== */
/* Style
   ========================================================================== */
body {
  background-color: #f6f6f6; }

main {
  margin-top: 40px; }

/* Style Main
   ========================================================================== */
.file-control {
  opacity: 0;
  padding: 0;
  width: 1px;
  height: 1px; }

.ghien-field-break {
  padding-top: 25px; }
  .ghien-field-break fieldset {
    border: 2px solid #182837;
    border-right: 0;
    border-left: 0;
    border-bottom: 0; }
    .ghien-field-break fieldset legend {
      padding: 0 10px;
      width: auto;
      margin: 0;
      border: 0;
      line-height: 14px;
      font-weight: normal;
      font-size: 14px; }
      .ghien-field-break fieldset legend strong {
        text-transform: uppercase; }
  .ghien-field-break .btn-facebook-login {
    background: #3b5998;
    color: #FFFFFF;
    font-size: 20px; }

.ghien-btn {
  margin-bottom: 15px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 3px;
  background-color: #f6f6f6;
  border-radius: 2px; }

::-webkit-scrollbar-thumb {
  background-color: #182837;
  border-radius: 1px; }

nav {
  background-color: #182837; }
  nav a.ghien-logo img {
    max-height: 80px; }
  nav ul li.active {
    background-color: #ee3346; }
  nav ul a:hover {
    background-color: #ee3346; }
  nav ul a.new-icon {
    position: relative; }
    nav ul a.new-icon:after {
      content: 'New';
      display: block;
      position: absolute;
      text-transform: uppercase;
      padding: 0 4px;
      top: 2px;
      right: 2px;
      color: #FFFFFF;
      font-size: 9px;
      font-weight: bold;
      border-radius: 2px;
      background-color: #0090ff;
      height: 14px;
      line-height: 14px; }
  nav div.side-nav {
    background-color: #182837; }
    nav div.side-nav a.brand-logo {
      position: relative; }
    nav div.side-nav ul {
      background: #FFFFFF; }
      nav div.side-nav ul a {
        font-weight: bold; }
        nav div.side-nav ul a.new-icon:after {
          right: 20px; }

/* Card
   ========================================================================== */
.ghien-card-panel {
  padding-top: 0; }
  .ghien-card-panel .ghien-card-avatar {
    margin-top: 30px; }

.ghien-tabs .tab a {
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  color: #000000; }
  .ghien-tabs .tab a.active {
    background-color: #182837;
    color: #FFFFFF; }

/* Modals
   ========================================================================== */
.modal .modal-content {
  overflow: hidden; }

.toast {
  background-color: #26a69a !important;
  color: #FFFFFF !important; }

footer {
  background: transparent !important; }

.title-category {
  color: #fff;
  text-transform: uppercase;
  background: #192836;
  padding: 10px;
  font-weight: bold; }

/*# sourceMappingURL=ghien.css.map */
