/* 1. Base Color
   ========================================================================== */
$ghien-primary: (
        "base": #182837,
);
$ghien-red: (
        "base" : #ee3346
);
$ghien-blue: (
        "base":#0090ff
);
$ghien-grey: (
        "base":#f6f6f6
);
$ghien-green: (
        "base":#26a69a
);

$ghien-facebook: (
        "base": #3b5998
);

$shades: (
        "black": #000000,
        "white": #FFFFFF,
        "transparent": transparent
);

$colors: (
        'ghien-primary':$ghien-primary,
        'ghien-red':$ghien-red,
        'ghien-blue':$ghien-blue,
        'ghien-grey':$ghien-grey,
        'ghien-facebook':$ghien-facebook,
        'ghien-green':$ghien-green,
        'shades':$shades
);

//color class
@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .#{$color_name} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text {
        color: $color_value !important;
      }
    } @else {
      .#{$color_name}.#{$color_type} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text.text-#{$color_type} {
        color: $color_value !important;
      }
    }
  }
}

// Shade classes
@each $color, $color_value in $shades {
  .#{$color} {
    background-color: $color_value !important;
  }
  .#{$color}-text {
    color: $color_value !important;
  }
}

// usage: color("name_of_color", "type_of_color")
// to avoid to repeating map-get($colors, ...)

@function ghien_color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @warn "Unknown `#{name}` in $colors.";
  @return null;
}

