@mixin card{
  width: 25px;
  height: 40px;
  margin: -15px 0px;
}
@each $card in red_card,yellow_card{
  .ico_#{$card}{
    background: url('../images/main/#{$card}.png') no-repeat left center;
    @include card;
  }
}
#bg_profile{
  position: relative;
  .information_profiles{
    position: absolute;
    left: 0;
    width: 100%;
    transform: translate(0,-50%);
    img{
      cursor: pointer;
    }
  }
}
.menu_profile{
  margin-top: 100px;
  border: 1px solid #dedede;
  padding: 3px 0 3px 0;
  a{
    color: #1d0b1c;
    font-size: 16px;
    small{
      font-weight: normal;
      text-transform: capitalize;
    }
  }
}
.button-edit{
  position: absolute;
  bottom: -14px;
  right: 25px;
  ul li{
    margin: 3px 11px 0 0 !important;
  }
}
.information_pr{
  .title_r_ct{
    color: #fff;
    padding: 10px;
    background: #192836;
    border-radius: 5px 5px 0px 0px;
    text-transform: uppercase;
    font-weight: bold;
    .ico_settings{
      background: url('../images/main/ico_setting.png') no-repeat left center;
      width: 25px;
      height: 40px;
      margin: -15px 0px;
    }
  }
  .information_pr_content{
    border-radius: 0px 0px 5px 5px;
    background: #fff;
    border: 1px solid #dedede;
    padding: 20px 10px 20px 10px;
    .card_info{
      .color_aaa{
        padding: 0px 10px;
        color: #aaaaaa;

      }

    }
  }
}