.ghien-tabs {
  .tab {
    a{
      -moz-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      -webkit-transition: all .3s ease-in;
      transition: all .3s ease-in;
      color: ghien_color('shades','black');

      &.active {
        background-color: $primary-color;

        color: ghien_color('shades','white');
      }
    }

  }
}
